<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>RestaurantApp</title>
</head>
<body>
 <div class="content">
        <h1>{{ restaurant.name }} Menu</h1>
        <a href="{{ url_for('restaurant_new_menu_item', restaurant_id = restaurant_id) }}">Create new menu item!</a>
        <br>
        {% for i in menuItems %}
            <div>
                <h3>{{ i.name }}</h3>
                <p>{{ i.course }}</p>
                <p>{{ i.description }}</p>
                <p>{{ i.price }}</p>
                <br>
                <a href="{{ url_for('restaurant_edit_menu_item', restaurant_id = restaurant.id, menu_id = i.id) }}">Edit {{ i.name }}</a>
                <br>
                <a href="{{ url_for('restaurant_delete_menu_item', restaurant_id = restaurant.id, menu_id = i.id) }}">Delete {{ i.name }}</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>